* {
    font-family: monaco,monospace;
}

#navbar {
    display: flex;
    align-items: end;
    font-size: 8px;
}

#toolbar {
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding: 15px 40px;
    height: 50px;
    font-size: 26pt;

}

ul {
    background: linear-gradient(to left, #1663d6, #8f34a1);
}

.buttons {
    font-size: 24pt;  
    margin-right: 100px;
    margin-left: 200px;
}

.buttons a {
    color: rgb(253, 249, 249);
    text-decoration: none;
}

.buttons a:hover {
    color: rgb(19, 191, 214);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    box-sizing: 20px;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 10px;
    
}

.h1Company {
    margin-left: 300px;
    padding: 30px;
    font-size: 26pt;
    letter-spacing: 5px;
    display: flex;
    justify-content: space-between;
    margin-right: 200px;
    background: linear-gradient(to left, #1663d6, #8f34a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.indexFoto {
    margin-left: 300px;
    margin-right: 200px;
    background-image: url("assets/indexFoto.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 2;
    letter-spacing: 2px;
    
}

.indexFoto h1 {
    font-size: 40pt;
}

.indexFoto h1, p {
    margin-left: 50px;
    letter-spacing: 1px;
}

.h1Products {
    display: flex;
    justify-content: center;
    padding: 50px;
    font-size: 20pt;
    letter-spacing: 10px;
    background: linear-gradient(to left, #1663d6, #8f34a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ourProducts {
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-around;
    margin-left: 300px;
    margin-right: 200px;
    background: linear-gradient(to left, #1663d6, #8f34a1);
    border-radius: 50px;
}

.card {
    display: flex;
    flex-direction: row;
    width: 100px;
    margin-left: -150px;
}

.card .product1 {
    width: 250px;
    height: 300px;
    margin-right: 5px;
}

.card .product2 {
    width: 250px;
    height: 300px;
    margin-left: -10px;
    margin-right: 5px;
}

.card .product3 {
    width: 200px;
    height: 300px;
    margin-right: 5px;
    margin-left: -30px;
}

.card .product1 {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .card .product1:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  }

  .card .product2 {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .card .product2:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  }

  .card .product3 {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .card .product3:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  }

.product {
    width: 150px;
}

.indexPurpose {
    margin-left: 200px;
    padding: 50px;
    background-image: url("assets/bubbles.png");
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 200px;
}

.indexPurpose h1 {
    margin-left: 35px;
    padding: 50px;
    font-size: 32pt;
    letter-spacing: 2px;
    background: linear-gradient(to left, #1663d6, #8f34a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.indexPurpose p {
    line-height: 1.5;
    letter-spacing: 1.5px;
    margin-left: 90px;
}

.indexClickHere:hover {
    font-size: 16pt;
    background-color: #5193f5;
    border-radius: 10px;
}


footer {
    background: linear-gradient(to left, #1663d6, #8f34a1);
    color: white;
    padding: 10px;
}

.allMedia {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.socialMedia {
    margin-right: 180px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding: 30px;
    background: linear-gradient(to right, #860c76, #8f34a1);
    border-radius: 100px;
    width: 13%;
}

.socialMedia .buttons {
    padding: 100px;
}

.h1About {
    margin-left: 300px;
    padding: 30px;
    font-size: 26pt;
    letter-spacing: 5px;
    display: flex;
    justify-content: space-between;
    margin-right: 200px;
    background: linear-gradient(to left, #1663d6, #8f34a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.team {
    margin-left: 300px;
    margin-right: 200px;
    background-image: url("assets/business.jpg");
    background-size:cover;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: -20px -20px rgb(128, 139, 240);
    height: 400px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 2;
    letter-spacing: 2px;
}

.aboutBody {
    margin-left: 200px;
    padding: 50px;
    background-image: url("assets/humanrobot.jpg");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 185px;
}

.aboutBody h1 {
    margin-left: 40px;
    padding: 50px;
    font-size: 32pt;
    letter-spacing: 2px;
    background: linear-gradient(to left, #1663d6, #8f34a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aboutBody p {
    line-height: 1.5;
    letter-spacing: 1.5px;
    margin-left: 90px;
}

.h1Mission {
    margin-left: 300px;
    padding: 30px;
    font-size: 26pt;
    letter-spacing: 5px;
    display: flex;
    justify-content: space-between;
    margin-right: 200px;
    background: linear-gradient(to left, #1663d6, #8f34a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mission {
    margin-left: 300px;
    margin-right: 200px;
    background-image: url("assets/industry.jpg");
    background-size: cover;
    border-radius: 20px;
    box-shadow: -20px -20px rgb(128, 139, 240);
    height: 400px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 2;
    letter-spacing: 2px;
}

.aboutMission {
    margin-left: 200px;
    padding: 50px;
    background-image: url("assets/robot1.jpg");
    background-size: 18%;
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 350px;
}

.aboutMission h1 {
    margin-left: 40px;
    padding: 50px;
    font-size: 32pt;
    letter-spacing: 2px;
    background: linear-gradient(to left, #1663d6, #8f34a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aboutMission p {
    line-height: 1.5;
    letter-spacing: 1.5px;
    margin-left: 90px;
}

.productOne {
    margin-left: 300px;
    font-size: 20pt;
    padding: 20px;
    letter-spacing: 5px;
}

.productOneText {
    margin-top: 180px;
}

.productOneText p {
line-height: 1.5;
}

.productTwoText p {
    line-height: 1.5;
    }

.productThreeText p {
        line-height: 1.5;
        }

.productOneAll {
    display: flex;
    align-items: flex-start;
    margin-right: 200px;
}

.productTwo {
    margin-left: 300px;
    font-size: 20pt;
    padding: 20px;
    letter-spacing: 5px;
}

.productTwoText {
    margin-top: 180px;
}

.productTwoAll {
    display: flex;
    align-items: flex-start;
    margin-right: 200px;
}

.productThree {
    margin-left: 300px;
    font-size: 20pt;
    padding: 20px;
    letter-spacing: 5px;
}

.productThreeText {
    margin-top: 180px;
    margin-left: 155px;
}

.productThreeAll {
    display: flex;
    align-items: flex-start;
    margin-right: 200px;
}

.card a {
    color: rgb(248, 245, 245);
    text-decoration: none;
    margin-right: 5px;
    width: 800px;
    font-size: 8pt;
}

.productOne1 {
    border-radius: 20px;
    box-shadow: -20px -20px rgb(192, 219, 255);
}

.productTwo2 {
    border-radius: 20px;
    box-shadow: -20px -20px rgb(192, 219, 255);
}

.productThree3 {
    border-radius: 20px;
    box-shadow: -20px -20px rgb(192, 219, 255);
}

a {
    text-decoration: none;
}

.productOne h1 {
    background: linear-gradient(to left, #1663d6, #8f34a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.productTwo h1 {
    background: linear-gradient(to left, #1663d6, #8f34a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.productThree h1 {
    background: linear-gradient(to left, #1663d6, #8f34a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card1 a {
margin-right: 80px;
}

.card3 a {
        margin-right: 80px;
        }

.card p {
    font-size: 12pt;
}

productOneAll