* {
    font-family ;
}
#navbar {
    display: flex;
    align-items: end;
    font-size: 8px;
    margin-left: 300px;
}

#toolbar {
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 15px;
    height: 20px;
}

ul {
    background: linear-gradient(to left, #1663d6, #8f34a1);
}

.buttons {
    font-size: 30px;  
    margin-left: 300px;
}

.buttons a {
    color: black;
    text-decoration: none;
}

.h1Company {
    margin-left: 300px;
    padding: 15px;
    font-size: 26pt;
    letter-spacing: 5px;
}

.indexFoto {
    margin-left: 300px;
    margin-right: 200px;
    background-image: url("assets/indexFoto.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 2;
    letter-spacing: 2px;
    
}

.indexFoto h1 {
    font-size: 40pt;
    letter-spacing: 3px;
}

.indexFoto h1, p {
    margin-left: 100px;
}

.h1Products {
    display: flex;
    justify-content: center;
    padding: 50px;
    font-size: 20pt;
    letter-spacing: 10px;
}

.ourProducts {
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-around;
    margin-left: 300px;
    margin-right: 200px;
    background-color: #a4ade0;
    box-shadow: -10px -10px rgb(128, 139, 240);
    border-radius: 50px;
    box-sizing:content-box;
}

.card {
    display: flex;
    flex-direction: row;
    width: 100px;
    margin-left: -150px;
}

.card .product1 {
    width: 300px;
    height: 300px;
    margin-right: 15px;
}

.card .product2 {
    width: 300px;
    height: 300px;
    margin-left: 40px;
    margin-right: 15px;
}

.card .product3 {
    width: 300px;
    height: 300px;
    margin-right: 15px;
}

.product {
    width: 150px;
}

.indexPurpose {
    margin-left: 200px;
    padding: 50px;
    background-image: url("assets/bubbles.png");
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 200px;
}

.indexPurpose h1 {
    margin-left: 40px;
    padding: 50px;
    font-size: 32pt;
    letter-spacing: 2px;
}

.indexPurpose p {
    line-height: 1.5;
    letter-spacing: 1.5px;
}

footer {
    background: linear-gradient(to left, #1663d6, #8f34a1);
    color: white;
    padding: 10px;
}

.allMedia {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.socialMedia {
    margin-right: 180px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding: 30px;
    background: linear-gradient(to left, #1663d6, #8f34a1);
    border-radius: 50px;
    width: 11%;
}

.socialMedia .buttons {
    padding: 100px;
}

.h1About {
    margin-left: 300px;
    padding: 15px;
    font-size: 40pt;
    letter-spacing: 5px;
}

.team {
    margin-left: 300px;
    margin-right: 200px;
    background-image: url("assets/about1.jpg");
    background-size: cover;
    border-radius: 20px;
    box-shadow: -20px -20px rgb(128, 139, 240);
    height: 400px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 2;
    letter-spacing: 2px;
}

.aboutBody {
    margin-left: 200px;
    padding: 50px;
    background-image: url("assets/humanrobot.jpg");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 185px;
}

.aboutBody h1 {
    margin-left: 40px;
    padding: 50px;
    font-size: 32pt;
    letter-spacing: 2px;
}

.aboutBody p {
    line-height: 1.5;
    letter-spacing: 1.5px;
}

.h1Mission {
    margin-left: 300px;
    padding: 15px;
    font-size: 40pt;
    letter-spacing: 5px;
}

.mission {
    margin-left: 300px;
    margin-right: 200px;
    background-image: url("assets/about1.jpg");
    background-size: cover;
    border-radius: 20px;
    box-shadow: -20px -20px rgb(128, 139, 240);
    height: 400px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 2;
    letter-spacing: 2px;
}

.aboutMission {
    margin-left: 200px;
    padding: 50px;
    background-image: url("assets/robot1.jpg");
    background-size: 18%;
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 350px;
}

.aboutMission h1 {
    margin-left: 40px;
    padding: 50px;
    font-size: 32pt;
    letter-spacing: 2px;
}

.aboutMission p {
    line-height: 1.5;
    letter-spacing: 1.5px;
}